@{

}

<h5>Question 2</h5>
<hr />
<p>
    <input class="with-gap" name="group2b" type="radio" value="a" id="q2a" />
    <label for="q1a">Answer 1</label>
</p>
<p>
    <input class="with-gap" name="group2b" type="radio" value="b" id="q2b" />
    <label for="q1b">Answer 2</label>
</p>
<p>
    <input class="with-gap" name="group2b" type="radio" value="c" id="q2c" />
    <label for="q1c">Answer 3</label>
</p>
<p>
    <input class="with-gap" name="group2b" type="radio" value="d" id="q2d" />
    <label for="q1d">Answer 4</label>
</p>
<br />