@{

}

<div class="row">
    <input placeholder="Question 2" id="q2" name="question2" type="text" class="validate">
    <label for="q2">Question 2</label>
</div>
<div class="row">
    <div class="col m11 offset-m1">
        <input placeholder="Answer A" id="2a" name="answer2a" type="text" class="validate">
        <label for="2a">A</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer B" id="2b" name="answer2b" type="text" class="validate">
        <label for="2b">B</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer C" id="2c" name="answer2c" type="text" class="validate">
        <label for="2c">C</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer D" id="2d" name="answer2d" type="text" class="validate">
        <label for="2d">D</label>
    </div>
</div>
<div class="row">
    <div class="col s4 m2 l1">
        <label>Right Answer</label>
        <select name="rightAnswerq2" class="browser-default">
            <option value="a">A</option>
            <option value="b">B</option>
            <option value="c">C</option>
            <option value="d">D</option>
        </select>
    </div>
</div>