@{

}

<div class="row">
    <input placeholder="Question 3" id="q3" name="question3" type="text" class="validate">
    <label for="q3">Question 3</label>
</div>
<div class="row">
    <div class="col m11 offset-m1">
        <input placeholder="Answer A" id="3a" name="answer3a" type="text" class="validate">
        <label for="3a">A</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer B" id="3b" name="answer3b" type="text" class="validate">
        <label for="3b">B</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer C" id="3c" name="answer3c" type="text" class="validate">
        <label for="3c">C</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer D" id="3d" name="answer3d" type="text" class="validate">
        <label for="3d">D</label>
    </div>
</div>
<div class="row">
    <div class="col s4 m2 l1">
        <label>Right Answer</label>
        <select name="rightAnswerq3" class="browser-default">
            <option value="a">A</option>
            <option value="b">B</option>
            <option value="c">C</option>
            <option value="d">D</option>
        </select>
    </div>
</div>