@{

}

<div class="row">
    <input placeholder="Question 4" id="q4" name="question4" type="text" class="validate">
    <label for="q4">Question 4</label>
</div>
<div class="row">
    <div class="col m11 offset-m1">
        <input placeholder="Answer A" id="4a" name="answer4a" type="text" class="validate">
        <label for="4a">A</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer B" id="4b" name="answer4b" type="text" class="validate">
        <label for="4b">B</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer C" id="4c" name="answer4c" type="text" class="validate">
        <label for="4c">C</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer D" id="4d" name="answer4d" type="text" class="validate">
        <label for="4d">D</label>
    </div>
</div>
<div class="row">
    <div class="col s4 m2 l1">
        <label>Right Answer</label>
        <select name="rightAnswerq4" class="browser-default">
            <option value="a">A</option>
            <option value="b">B</option>
            <option value="c">C</option>
            <option value="d">D</option>
        </select>
    </div>
</div>