@{

}

<div class="row">
    <input placeholder="Question 1" id="q1" name="question1" type="text" class="validate">
    <label for="q1">Question 1</label>
</div>
<div class="row">
    <div class="col m11 offset-m1">
        <input placeholder="Answer A" id="1a" name="answer1a" type="text" class="validate">
        <label for="1a">A</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer B" id="1b" name="answer1b" type="text" class="validate">
        <label for="1b">B</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer C" id="1c" name="answer1c" type="text" class="validate">
        <label for="1c">C</label>
    </div>
    <div class="col m11 offset-m1">
        <input placeholder="Answer D" id="1d" name="answer1d" type="text" class="validate">
        <label for="1d">D</label>
    </div>
</div>
<div class="row">
    <div class="col s4 m2 l1">
        <label>Right Answer</label>
        <select name="rightAnswerq1" class="browser-default">
            <option value="a">A</option>
            <option value="b">B</option>
            <option value="c">C</option>
            <option value="d">D</option>
        </select>
    </div>
</div>