@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";\

    Database db = Database.Open("StarterSite");
    var ProductId = UrlData[0];
    var item = Request["item"];
    int jellybeans = Convert.ToInt32(Request["jellybeans"]);

    var user = db.QuerySingle("SELECT * FROM StudentInformation WHERE UserId = @0", WebSecurity.CurrentUserId);
    var soldItem = db.QuerySingle("SELECT * FROM ItemsForSale WHERE Item = @0", item);
    var seller = db.QuerySingle("SELECT * FROM StudentInformation WHERE UserId = @0", soldItem.UserId);
    var bag = db.QuerySingle("SELECT * FROM Bag WHERE BagId = @0", WebSecurity.CurrentUserId);
    int userJellybeans = Convert.ToInt32(user.Jellybeans);
    if (IsPost)
    {
        if(userJellybeans <= jellybeans)
        {
            Response.Redirect("~/Forum");
        }
        db.Execute("DELETE FROM ItemsForSale WHERE ItemId = @0", ProductId);
        db.Execute("UPDATE StudentInformation SET Jellybeans = @0", userJellybeans - jellybeans);
        if (bag.Item1 == null)
        {
            db.Execute("UPDATE Bag SET Item1 = @0 WHERE BagId = @1", item, WebSecurity.CurrentUserId);
        }
        else if (bag.Item2 == null)
        {
            db.Execute("UPDATE Bag SET Item2 = @0 WHERE BagId = @1", item, WebSecurity.CurrentUserId);
        }
        else if (bag.Item3 == null)
        {
            db.Execute("UPDATE Bag SET Item3 = @0 WHERE BagId = @1", item, WebSecurity.CurrentUserId);
        }
        else if (bag.Item4 == null)
        {
            db.Execute("UPDATE Bag SET Item4 = @0 WHERE BagId = @1", item, WebSecurity.CurrentUserId);
        }
        else if (bag.Item5 == null)
        {
            db.Execute("UPDATE Bag SET Item5 = @0 WHERE BagId = @1", item, WebSecurity.CurrentUserId);
        }
        db.Execute("UPDATE StudentInformation SET Jellybeans = @0 WHERE UserId = @1", seller.Jellybeans + jellybeans, seller.UserId);
        Response.Redirect("~/Forum");
    }
}

<div>

</div>