@{
    Page.Title = "Forum";
    Layout = "~/Shared/_SiteLayout.cshtml";
}

<body>
    <div class="row">
        <div class="col s2 m5"></div>
        <div class="col "><h1>Forum</h1></div>
    </div>


    <div>
        <div class="row">
            <div class="col s1 m2"></div>
            <div class="col "><h4>Homework Year one</h4></div>
        </div>
        <div class="row">
            <div>
                <div class=" col s1 m2"></div>
                <div class=" col s10 m8">
                    <table>
                        <thead>
                            <tr>
                                <th class="left-align">Title</th>
                                <th class="left-align">Author</th>
                                <th class="right-align">Last edited</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Homework Potions</td>
                                <td>Professor Snape</td>
                                <td class="right-align">11:41 21-03-2018</td>
                            </tr>
                            <tr>
                                <td>Homework Defence against the dark arts</td>
                                <td>Professor Quirrell</td>
                                <td class="right-align">11:41 21-03-2018</td>

                            </tr>
                            <tr>
                                <td>Homework Transfiguration</td>
                                <td>Professor McGonagall</td>
                                <td class="right-align">11:51 21-03-2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" col s1 m2"></div>
            </div>
        </div>
    </div>





    <div>
        <div class="row">
            <div class="col s1 m2"></div>
            <div class="col "><h4>General Discussions</h4></div>
        </div>
        <div class="row">
            <div>
                <div class=" col s1 m2"></div>
                <div class=" col s10 m8">
                    <table>
                        <thead>
                        
                            <tr>
                                <th class="left-align">Title</th>
                                <th class="left-align">Author</th>
                                <th class="right-align">Last edited</th>
                            </tr>
                        

                        <tbody>
                            <tr>
                                <td>Your thought on the teachers</td>
                                <td>D. Onut</td>
                                <td class="right-align">11:54 21-03-2018</td>
                            </tr>
                            <tr>
                                <td>Dumbledore's army</td>
                                <td>H. Potter</td>
                                <td class="right-align">11:55 21-03-2018</td>
                            </tr>
                            <tr>
                                <td>Best shop in Hogsmeade</td>
                                <td>R. Weasly</td>
                                <td class="right-align">11:57 21-03-2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" col s1 m2"></div>
            </div>
        </div>
    </div>




    <div>
        <div class="row">
            <div class="col s1 m2"></div>
            <div class="col "><h4>Acitivies Year One</h4></div>
        </div>
        <div class="row">
            <div>
                <div class=" col s1 m2"></div>
                <div class=" col s10 m8">
                    <table>
                        <thead>
                            <tr>
                                <th class="left-align">Title</th>
                                <th class="left-align">Author</th>
                                <th class="right-align">Last edited</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Quidditch</td>
                                <td>H. Potter</td>
                                <td class="right-align">11:54 21-03-2018</td>
                            </tr>
                            <tr>
                                <td>Exams</td>
                                <td>H. Granger</td>
                                <td class="right-align">12:12 21-03-2018</td>
                            </tr>
                            <tr>
                                <td>Marketplace</td>
                                <td>F. Weasly</td>
                                <td class="right-align">12:13 21-03-2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" col s1 m2"></div>
            </div>
        </div>
    </div>
</body>

<div>

</div>