@{
    Page.Title = "Forum";
    Layout = "~/Shared/_SiteLayout.cshtml";
}

<body>
    <div class="row">
        <div class="col s2 m5"></div>
        <div class="col "><h1>Forum</h1></div>
    </div>


    <div>
        <div class="row">
            <div class="col s1 m2"></div>
            <div class="col "><h4>Homework Year one</h4></div>
        </div>
        <div class="row">
            <div>
                <div class=" col s1 m2"></div>
                <div class=" col s10 m8">
                    <table>
                        <thead>
                            <tr>
                                <th class="col m5">Title</th>
                                <th class="col m3">Author</th>
                                <th class="col m4" style="text-align:right">Last edited</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="col m5">Homework Potions</td>
                                <td class="col m3">Professor Snape</td>
                                <td class="col m4" style="text-align:right">11:41 21-03-2018</td>
                            </tr>
                            <tr>
                                <td class="col m5">Homework Defence against the dark arts</td>
                                <td class="col m3">Professor Quirrell</td>
                                <td class="col m4" style="text-align:right">11:41 21-03-2018</td>

                            </tr>
                            <tr>
                                <td class="col m5">Homework Transfiguration</td>
                                <td class="col m3">Professor McGonagall</td>
                                <td class="col m4" style="text-align:right">11:51 21-03-2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" col s1 m2"></div>
            </div>
        </div>
    </div>





    <div>
        <div class="row">
            <div class="col s1 m2"></div>
            <div class="col "><h4>General Discussions</h4></div>
        </div>
        <div class="row">
            <div>
                <div class=" col s1 m2"></div>
                <div class=" col s10 m8">
                    <table>
                        <thead>
                        
                            <tr>
                                <th class="col m5">Title</th>
                                <th class="col m3">Author</th>
                                <th class="col m4" style="text-align:right">Last edited</th>
                            </tr>
                        

                        <tbody>
                            <tr>
                                <td class="col m5">Your thought on the teachers</td>
                                <td class="col m3">D. Onut</td>
                                <td class="col m4" style="text-align:right">11:54 21-03-2018</td>
                            </tr>
                            <tr>
                                <td class="col m5">Dumbledore's army</td>
                                <td class="col m3">H. Potter</td>
                                <td class="col m4" style="text-align:right">11:55 21-03-2018</td>
                            </tr>
                            <tr>
                                <td class="col m5">Best shop in Hogsmeade</td>
                                <td class="col m3">R. Weasly</td>
                                <td class="col m4" style="text-align:right">11:57 21-03-2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" col s1 m2"></div>
            </div>
        </div>
    </div>




    <div>
        <div class="row">
            <div class="col s1 m2"></div>
            <div class="col "><h4>Acitivies Year One</h4></div>
        </div>
        <div class="row">
            <div>
                <div class=" col s1 m2"></div>
                <div class=" col s10 m8">
                    <table>
                        <thead>
                            <tr>
                                <th class="col m5">Title</th>
                                <th class="col m3">Author</th>
                                <th class="col m4" style="text-align:right">Last edited</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="col m5">Quidditch</td>
                                <td class="col m3">H. Potter</td>
                                <td class="col m4" style="text-align:right">11:54 21-03-2018</td>
                            </tr>
                            <tr>
                                <td class="col m5">Exams</td>
                                <td class="col m3">H. Granger</td>
                                <td class="col m4" style="text-align:right">12:12 21-03-2018</td>
                            </tr>
                            <tr>
                                <td class="col m5">Marketplace</td>
                                <td class="col m3">F. Weasly</td>
                                <td class="col m4" style="text-align:right">12:13 21-03-2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" col s1 m2"></div>
            </div>
        </div>
    </div>
</body>

<div>

</div>