@{
    Page.Title = "Profile";
    Layout = "~/Shared/_SiteLayout.cshtml";
}

<div class="card">
    <h5 class="center-align">@WebSecurity.CurrentUserName</h5>
</div>
<div class="container">
    <div class="row">
        <div>
            <div class="col m3 offset-m3">
                <div class="card">
                    <div class="card-image">
                        <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png">
                    </div>
                </div>
    </div>
            <div class="col m3">
                <div class="card">
                    <div class="card-image">
                        <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h5 class="center-align">Student Information</h5>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card">
                <dl>
                    <dt>Jellybeans</dt>
                    <dt>Points</dt>
                    <dt>Known Spells</dt>
                    <dd>None so far</dd>
                    <dt>Schoolbag</dt>
                </dl>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <dl style="list-style-type:square">
                    <dt>Classes</dt>
                            <dd>Potions</dd>
                            <dd>Transfiguration</dd>
                            <dd>Herbology</dd>
                            <dd>More..</dd>
                </dl>
            </div>
        </div>
    </div>
</div>


