@{

}

<h5>Question 3</h5>
<hr />
<p class="light">
    Once every century, the Flutterby bush produces flowers that adapt their scent to attract the unwary. If it lured you, it would smell of:
</p>
<p>
    <input class="with-gap" name="group3" type="radio" value="a" id="q3a" />
    <label for="q3a">A crackling log fire</label>
</p>
<p>
    <input class="with-gap" name="group3" type="radio" value="b" id="q3b" />
    <label for="q3b">The sea</label>
</p>
<p>
    <input class="with-gap" name="group3" type="radio" value="c" id="q3c" />
    <label for="q3c">Home</label>
</p>
<p>
    <input class="with-gap" name="group3" type="radio" value="d" id="q3d" />
    <label for="q3d">Fresh parchment</label>
</p>
<br />