@{

}

<h5>Question 2</h5>
<hr />
<p class="light">
    You and two friends need to cross a bridge guarded by a river troll who insists on fighting one of you before he will let all of you pass. Do you:
</p>
<p>
    <input class="with-gap" name="group2" type="radio" value="a" id="q2a" />
    <label for="q2a">Volunteer to fight?</label>
</p>
<p>
    <input class="with-gap" name="group2" type="radio" value="b" id="q2b" />
    <label for="q2b">Suggest that all three of you should fight (without telling the troll)?</label>
</p>
<p>
    <input class="with-gap" name="group2" type="radio" value="c" id="q2c" />
    <label for="q2c">Suggest drawing lots to decide which of you will fight?</label>
</p>
<p>
    <input class="with-gap" name="group2" type="radio" value="d" id="q2d" />
    <label for="q2d">Attempt to confuse the troll into letting all three of you pass without fighting?</label>
</p>
<br />