@{

}

<h5>Question 3</h5>
<hr />
<p>
    <input class="with-gap" name="group3" type="radio" value="a" id="q3a" />
    <label for="q3a">Answer 1</label>
</p>
<p>
    <input class="with-gap" name="group3" type="radio" value="b" id="q3b" />
    <label for="q3b">Answer 2</label>
</p>
<p>
    <input class="with-gap" name="group3" type="radio" value="c" id="q3c" />
    <label for="q3c">Answer 3</label>
</p>
<p>
    <input class="with-gap" name="group3" type="radio" value="d" id="q3d" />
    <label for="q3d">Answer 4</label>
</p>
<br />