@{

}

<h5>Question 5</h5>
<hr />
<p>
    <input class="with-gap" name="group5" type="radio" value="a" id="q5a" />
    <label for="q5a">Answer 1</label>
</p>
<p>
    <input class="with-gap" name="group5" type="radio" value="b" id="q5b" />
    <label for="q5b">Answer 2</label>
</p>
<p>
    <input class="with-gap" name="group5" type="radio" value="c" id="q5c" />
    <label for="q5c">Answer 3</label>
</p>
<p>
    <input class="with-gap" name="group5" type="radio" value="d" id="q5d" />
    <label for="q5d">Answer 4</label>
</p>
<br />