@{

}

<h5>Question 1</h5>
<hr />
<p class="light">
    Four boxes are placed before you. Which would you try and open?
</p>
<p>
    <input class="with-gap" name="group1" type="radio" value="a" id="q1a" />
    <label for="q1a">The small pewter box, unassuming and plain, with a scratched message upon it that reads ‘I open only for the worthy.’</label>
</p>
<p>
    <input class="with-gap" name="group1" type="radio" value="b" id="q1b" />
    <label for="q1b">The gleaming jet black box with a silver lock and key, marked with a mysterious rune that you know to be the mark of Merlin.</label>
</p>
<p>
    <input class="with-gap" name="group1" type="radio" value="c" id="q1c" />
    <label for="q1c">The small tortoiseshell box, embellished with gold, inside which some small creature seems to be squeaking.</label>
</p>
<p>
    <input class="with-gap" name="group1" type="radio" value="d" id="q1d" />
    <label for="q1d">The ornate golden casket, standing on clawed feet, whose inscription warns that both secret knowledge and unbearable temptation lie within.</label>
</p>
<br />