@{

}

<h5>Question 5</h5>
<hr />
<p class="light">
    You enter an enchanted garden. What would you be most curious to examine first?
</p>
<p>
    <input class="with-gap" name="group5" type="radio" value="a" id="q5a" />
    <label for="q5a">The statue of an old wizard with a strangely twinkling eye</label>
</p>
<p>
    <input class="with-gap" name="group5" type="radio" value="b" id="q5b" />
    <label for="q5b">The bubbling pool, in the depths of which something luminous is swirling</label>
</p>
<p>
    <input class="with-gap" name="group5" type="radio" value="c" id="q5c" />
    <label for="q5c">The fat red toadstools that appear to be talking to each other</label>
</p>
<p>
    <input class="with-gap" name="group5" type="radio" value="d" id="q5d" />
    <label for="q5d">The silver leafed tree bearing golden apples</label>
</p>
<br />