@{

}

<h5>Question 4</h5>
<hr />
<p class="light">
    One of your house mates has cheated in a Hogwarts exam by using a Self-Spelling Quill. Now he has come top of the class in Charms, beating you into second place. Professor Flitwick is suspicious of what happened. He draws you to one side after his lesson and asks you whether or not your classmate used a forbidden quill. What do you do?
</p>
<p>
    <input class="with-gap" name="group4" type="radio" value="a" id="q4a" />
    <label for="q4a">Tell Professor Flitwick that he ought to ask your classmate (and resolve to tell your classmate that if he doesn’t tell the truth, you will).</label>
</p>
<p>
    <input class="with-gap" name="group4" type="radio" value="b" id="q4b" />
    <label for="q4b">You would not wait to be asked to tell Professor Flitwick the truth. If you knew that somebody was using a forbidden quill, you would tell the teacher before the exam started.</label>
</p>
<p>
    <input class="with-gap" name="group4" type="radio" value="c" id="q4c" />
    <label for="q4c">Lie and say you don’t know (but hope that somebody else tells Professor Flitwick the truth).</label>
</p>
<p>
    <input class="with-gap" name="group4" type="radio" value="d" id="q4d" />
    <label for="q4d">Tell Professor Flitwick the truth. If your classmate is prepared to win by cheating, he deserves to be found out. Also, as you are both in the same house, any points he loses will be regained by you, for coming first in his place.</label>
</p>
<br />