@{
    
}

<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">DumbleMore is a dedicated forum/website for die-hard Harry Potter fans. Here you will be able to indulge yourself in the creative, magic-fueled universe created by J. K. Rowling.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="#!">Twitter</a></li>
                    <li><a class="white-text" href="#!">Instagram</a></li>
                    <li><a class="white-text" href="#!">Pinterest</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Created using <a class="materialize-red-text" href="http://materializecss.com">Materialize</a> by Taeke Hofman, Pawel Protas, Jorrit Rienks, Coen Hofland and Stijn Timmerman
        </div>
    </div>
</footer>